.btn {
    // Reset
    background-color: transparent;
    border: none;

    // Center Elements
    display: flex;
    justify-content: center;
    align-items: center;

    // Size Defaults
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.nav-toggle {
    // Size
    font-size: $fs-2;

    width: $_size-6;
    aspect-ratio: 1 / 1;

    display: none;
}
